---
import ModeToggler from "./ModeToggler";

type Route = {
  name: string;
  href: string;
}

const routes: Route[] = [{
  name: 'Home',
  href: '/',
}, {
  name: 'Articles',
  href: '/articles',
}, {
  name: 'My Works',
  href: '/my-works',
}, {
  name: 'Resume',
  href: '/resume',
},  {
  name: 'Contact',
  href: '/#contact',
},];

const {pathname} = new URL(Astro.request.url);
---

<div class="flex justify-between items-center py-8">
  <div class="flex items-center gap-8">
    {routes.map(({name, href}) => <a class={`block py-1.5 px-3 rounded-md hover:bg-dark-200 ${href === pathname && 'bg-dark-200'}`} href={href}>{name}</a>)}
  </div>
  <ModeToggler client:load />
</div>